.body-create {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 4.7rem 32vh auto auto auto;
  grid-template-areas:
    "header"
    "figure-create-bg"
    "main-create"
    "sitemap-container"
    "footer";
}

.figure-create-bg {grid-area: figure-create-bg;}
.figure-create-bg-left {grid-area: figure-create-bg-left;}
.figure-create-bg-right {grid-area: figure-create-bg-right;}
.main-create {grid-area: main-create;}
.sitemap-container {grid-area: sitemap-container;}

.figure-create-bg {
  background-image: url("../images/macarons.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  padding: 0 10%;
  align-items: center;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.figure-create-bg-left {
  background-image: url("../images/macarons_left.jpg");
  background-size: cover;
  display: none;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.figure-create-bg-right {
  background-image: url("../images/macarons_right.jpg");
  background-size: cover;
  display: none;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.figure-create-overtext {
  width: 100%;
  color: var(--color-bright-text);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.figure-create-overtext span {
  display: block;
}

.figure-create-header {
  width: 100%;
  color: var(--color-dark-text);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -1px;
  display: none;
  flex-direction: column;
  align-items: center;
}

.figure-create-header span {
  display: block;
}

.main-create {
  min-height: 0;
  padding: 2rem 3.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-create-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: .3rem;
  width: 80%;
  min-width: 15rem;
  max-width: 30rem;
}

.form-textarea-basic {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: .5rem;
}

/* tablet layout from here */
@media (min-width: 640px) {
  .figure-create-overtext {
    font-size: 2.3rem;
  }

  .figure-create-bg {
    background-position: center;
  }
}


/* pc layout from here */
@media (min-width: 1025px) {
  .figure-create-bg {
    display: none;
  }

  .figure-create-bg-left {
    display: inline-block;
    background-position: right;
  }
  
  .figure-create-bg-right {
    display: inline-block;
    background-position: left;
  }

  .body-create {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "header header header header"
      "figure-create-bg-left main-create main-create figure-create-bg-right"
      "figure-create-bg-left main-create main-create figure-create-bg-right"
      "sitemap-container sitemap-container sitemap-container sitemap-container"
      "footer footer footer footer";
  }

  .main-create {
    min-height: 79vh;
  }

  .figure-create-bg {
    padding: 0;
  }

  .figure-create-overtext {
    font-size: 2.5rem;
    padding-left: 7%;
  }

  .figure-create-overtext {
    display: none;
  }

  .figure-create-header {
    display: flex;
  }
}
