/* main point colors */
:root {
  --color-point-mint: #4ABDAC;
  --color-point-orange: #FC4A1A;
  --color-point-yellow: #F7B733;
  --color-point-yellow-alpha: #F7B73360;
  --color-point-silver: #DFDCE3;
  --color-bright-text: #FFFFFF;
  --color-dark-text: #333333;
  --color-dim-text: #666666;
  --color-bg: #FFFFFF;
}

/* layouts for mobile */
header {grid-area: header;}
footer {grid-area: footer;}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  margin: 0;
  overscroll-behavior: none;
}

.body-index {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 100vh auto auto auto;
  grid-template-areas:
    "header"
    "figure-index"
    "main-index"
    "sitemap-container"
    "footer";
}

.figure-index {grid-area: figure-index;}
.main-index {grid-area: main-index;}
.sitemap-container {grid-area: sitemap-container;}

.main-notification-error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-point-orange);
  height: 0;
  transition: height 1s;
}

.main-notification-success {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-point-yellow);
  height: 0;
  transition: height 1s;
}

.main-notification-error span,
.main-notification-success span {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity .5s;
  font-weight: bold;
  font-size: 1.1rem;
  padding-top: .2rem;
  box-sizing: border-box;
  color: var(--color-bright-text);
}

header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 3;
  border-bottom: 5px solid var(--color-bg);
  background-color: var(--color-point-mint);
}

.header {
  height: 4.7rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 1.5rem;
  max-width: 1170px;
  position: relative;
  left: 50%;
  color: var(--color-bright-text);
  transform: translateX(-50%);
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  padding-top: .5rem;
  font-weight: bold;
}

.mobile-menu {
  text-align: left;
}

.header-title {
  text-align: center;
}

.header-title a {
  font-family: 'Racing Sans One', cursive;
  text-decoration: none;
  font-weight: bold;
  font-size: 3rem;
  color: var(--color-bright-text);
}

.header-title a:hover {
  color: var(--color-point-orange);
}

nav {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  background-color: var(--color-point-yellow);
}

.mobile-menu-open-btn {
  cursor: pointer;
  font-size: 3rem;
  color: var(--color-dark-text);
}

.mobile-menu-close-btn {
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
  color: var(--color-dark-text);
}

.main-nav-links {
  list-style-type: none;
  padding-inline-start: 0;
  display: none;
  margin: 0;
}

/* testing */
.main-nav-links li {
  position: relative;
  display: inline-block;
}

.main-nav-links li:hover .main-nav-dropdown {
  display: block;
}

.main-nav-links li:hover .main-nav-link:after {
  position: absolute;
  left: 50%;
  border: solid transparent;
  content: " ";
  border-width: 9px;
  margin-left: -9px;
  border-bottom-color: var(--color-bg);
  bottom: -.9rem;
}

.main-nav-link {
  color: var(--color-dark-text);
  padding: 1rem .7rem;
  cursor: pointer;
}

.main-nav-dropdown {
  display: none;
  position: absolute;
  background-color: var(--color-bg);
  z-index: 1;
  margin-top: .9rem;
  text-align: left;
  border-radius: 3px;
  padding: .5rem .7rem;
}

.main-nav-dropdown a {
  text-decoration: none;
  display: block;
  color: var(--color-point-mint);
  margin: .1rem 0;
  white-space: nowrap;
}

.main-nav-dropdown a:hover {
  color: var(--color-point-orange);
}

.main-nav-signin {
  padding-left: .7rem;
  color: var(--color-bright-white);
  text-decoration: none;
}

.main-nav-signin:hover {
  color: var(--color-point-orange);
  cursor: pointer;
}

.main-nav-dropdown .main-nav-yellow {
  color: var(--color-point-yellow);
}

.main-nav-white {
  color: var(--color-bright-text);
  padding-right: 0;
}

.mobile-nav {
  display: block;
  overflow: hidden;
  height: 0;
  transition: height .5s;
  background-color: var(--color-point-mint);
}

.mobile-nav-links {
  list-style-type: none;
  padding-inline-start: 0;
  padding: .3rem 2.5rem 10rem;
  margin: 0;
  height: 0;
  transition: height .5s;
  box-sizing: border-box;
  display: block;
  overflow: auto;
}

.mobile-nav-links li {
  padding: 1rem 0;
}

.mobile-nav-header {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--color-dark-text);
}

.mobile-nav-container {
  padding: .2rem 0 0 1.5rem;
}

.mobile-nav-link {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--color-bright-text);
  margin: .3rem;
}

.mobile-nav-link:hover {
  color: var(--color-point-orange);
}

.mobile-nav-yellow {
  color: var(--color-point-yellow);
}

.mobile-nav-signin {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--color-point-yellow);
}

.mobile-nav-signin:hover {
  color: var(--color-point-orange);
}

.figure-index-text {
  display: block;
  margin: auto;
  padding: 1rem;
  width: 80%;
  max-width: 40rem;
  color: var(--color-bright-text);
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: -1px;
  top: 23%;
  position: relative;
  background-color: var(--color-point-yellow-alpha);
  border-radius: 10px;
}

.figure-index-text span {
  display: block;
}

.figure-index {
  background-image: url("/src/assets/images/lego.jpg");
  background-position: center;
  background-size: cover;
/*  display: flex;
  justify-content: center;*/
  line-height: 1.3;
  margin: 0;
  width: 100%;
}

.main-index {
  align-items: start;
  background-color: var(--color-bg);
  padding: 2rem 1.5rem 2.5rem;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 580px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-items: center;
}

.video-post {
  width: 100%;
  border-radius: 5px;
  background-color: var(--color-bg);
}

.video-post img {
  width: 100%;
  height: 13rem;
  object-fit: cover;
  border-radius: 5px;
}

.video-post-description {
  padding: .9rem .5rem 1.1rem;
  max-height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video-post-description div {
  display: flex;
  justify-content: space-between;
}

.video-post-description button {
  -webkit-appearance: none;
  width: 4rem;
  border-radius: 5px;
  border: none;
  color: var(--color-bright-text);
  font-weight: bold;
  font-size: .9rem;
  outline: none;
}

.video-post-join {
  background-color: var(--color-point-yellow);
  cursor: pointer;
  padding: 0;
}

.video-post-join:hover {
  background-color: var(--color-point-orange);
}

.video-post-joined {
  background-color: var(--color-dim-text);
  cursor: initial;
  padding: 0;
}

.video-post span {
  display: block;
}

.video-post-category {
  margin: .25rem 0;
  color: var(--color-dim-text);
  font-size: .9rem;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  line-height: 1rem;
  cursor: default;
}

.video-post-title {
  margin: .25rem 0;
  color: var(--color-dark-text);
  font-weight: bold;
  line-height: 1.2rem;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
}

.video-post-title:hover {
  color: var(--color-point-orange);
}

.video-post-date {
  margin: .25rem 0;
  color: var(--color-dim-text);
  font-size: .8rem;
  line-height: 1rem;
  cursor: default;
}

.sitemap {
  font-size: 1.2rem;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .5rem 2rem;
}

.sitemap-container {
  background-color: var(--color-point-silver);
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
  border-top: 5px solid var(--color-bg);
}

.footer-header {
  color: var(--color-point-mint);
  font-weight: bold;
  margin-bottom: .2rem;
}

.footer-nav {
  padding-inline-start: 0;
  list-style-type: none;
  margin: 0;
  font-size: .9rem;
  padding: .5rem .2rem;
}

.footer-nav li {
  padding: .1rem 0;
}

.footer-nav-link {
  color: var(--color-point-mint);
  text-decoration: none;
}

.footer-nav-link:hover {
  color: var(--color-point-orange);
}


.footer-only {
  border-top: 5px solid white;
}

footer {
  background-color: var(--color-point-mint);  
  width: 100%;
}

.footer-container {
  color: var(--color-dark-text);
  font-size: .9rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  height: 2.5rem;
}

.footer-horizontal-line {
  height: 1px;
  background-color: var(--color-point-mint);
  width: 100%;
}

.form-basic {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label-basic {
  font-size: .9rem;
}

.form-basic-container {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: .3rem;
}

.form-input-basic {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
  height: 1.7rem;
  padding: 0 .5rem;
}

.yellow-btn {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-bright-text);
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 2rem;
  margin: 1rem;
  background-color: var(--color-point-yellow);
  -webkit-appearance: none;
}

.yellow-btn:hover {
  background-color: var(--color-point-orange)
}

.gray-btn {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-bright-text);
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 2rem;
  margin: 1rem;
  background-color: var(--color-dim-text)
}

.gray-btn:hover {
  background-color: var(--color-point-mint)
}

/* tablet layout from here */
@media (min-width: 640px) {
  .body-index {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "header header header"
      "figure-index figure-index figure-index"
      "main-index main-index main-index"
      "sitemap-container sitemap-container sitemap-container"
      "footer footer footer";
  }

  .figure-index-text {
    font-size: 1.65rem;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-point-mint);
    padding: 0 2rem;
    color: var(--color-bright-text);
    max-width: 860px;
  }

  .mobile-nav {
    display: none;
    height: 0;
    padding: 0;
  }

  .mobile-nav-link {
    display: none;
    padding: 0;
  }

  .mobile-nav-link li {
    display: none;
  }

  .main-index {
    max-width: 860px;
    padding: 2rem 2rem 2.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
    justify-items: center;
    align-items: start;
  }

  .mobile-menu {
    display: none;
  }

  .main-nav-links {
    display: flex;
  }

  .sitemap {
    grid-template-columns: repeat(4, 1fr);
  }
}


/* pc layout from here */
@media (min-width: 1025px) {
  .header {
    max-width: 1170px;
  }

  .main-index {
    max-width: 1170px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    padding: 2rem 2rem 2.5rem;
    align-items: center;
    justify-items: center;
    align-items: start;
  }

  .figure-index-text {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .sitemap {
    max-width: 1170px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer-container {
    max-width: 1170px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

