.body-netup {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 4.7rem auto auto auto auto;
  grid-template-areas:
    "header"
    "main-netup-container"
    "sitemap-container"
    "footer";
}

.main-netup-container {grid-area: main-netup-container;}

.main-netup-container {
  min-height: 70vh;
  display: flex;
  justify-content: center;
}

.main-netup {
  background-color: var(--color-bg);
  width: 100%;
  padding: 3rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.about-netup {
  padding-top: .7rem;
  margin-top: 2.6rem;
  margin-bottom: .5rem;
  border-top: 1px solid lightgray;
}

.about-netup p {
  font-size: 1.1rem;
  line-height: 1.9rem;
  margin: 1.5rem 0 0;
}

.about-netup p span {
  font-weight: bold;
}

.about-netup .netup-point-yellow {
  font-size: 1.4rem;
  color: var(--color-point-yellow);
}


.about-netup .netup-point-mint {
  font-size: 1.7rem;
  color: var(--color-point-mint);
}






/* tablet layout from here */
@media (min-width: 640px) {
  .main-netup {
    max-width: 860px
  }

  .about-netup {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

}


/* pc layout from here */
@media (min-width: 1025px) {
  .main-netup {
    max-width: 1170px
  }
  
  .video-container {
    max-width: 1000px;
  }

  .about-netup {
    margin-bottom: 1.5rem;
  }
}
