body {
  grid-template-rows: 4.7rem 16rem auto 2.5rem;
}

.figure-bg {
  background-image: url("../images/cupcake.jpg");
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  padding: 0 10%;
  align-items: center;
  width: 100%;
  margin: 0;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

.figure-overtext {
  width: 40%;
  color: var(--color-bright-text);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.figure-overtext span {
  display: block;
}

main {
  display: block;
}

.signin-signup {
  text-align: center;
}

.signin-signup a {
  color: var(--color-point-mint);
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  padding-left: .3rem;
}

.signin-signup a:hover {
  color: var(--color-point-orange);
}

form {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  font-size: .9rem;
}

form div {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: .3rem;
}

form div input {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
  height: 1.7rem;
  padding: 0 .5rem;
}

.signin-or {
  text-align: center;
}

.horizontal-line {
  height: 1px;
  background-color: lightgray;
  width: 100%;
}

.signin-or span {
  color: lightgray;
  position: relative;
  font-size: 1.3rem;
  top: -1rem;
  padding: 0 1rem;
  background-color: white;
}

.signin-third-party-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-third-party-list button {
  width: 15rem;
  height: 2.5rem;
  margin: .5rem;
  background-color: white;
  border: .1rem solid var(--color-point-mint);
  border-radius: 5px;
  cursor: pointer;
}

.signin-third-party-list button:hover {
  border-color: var(--color-point-yellow);
}

.footer-info {
  padding: .25rem 2rem;
}


/* tablet layout from here */
@media (min-width: 640px) {
  .figure-overtext {
    font-size: 2.3rem;
  }
}


/* pc layout from here */
@media (min-width: 1025px) {
  body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header header"
      "figure main"
      "figure main"
      "footer footer";
  }

  .figure-bg {
    padding-right: 0;
  }

  .figure-overtext {
    font-size: 2.5rem;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
