.body-signup {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 4.7rem 32vh auto auto;
  grid-template-areas:
    "header"
    "figure-signup-bg"
    "main-signup"
    "footer";
}

.figure-signup-bg {grid-area: figure-signup-bg;}
.main-signup {grid-area: main-signup;}

.figure-signup-bg {
  background-image: url("../images/balloon.jpg");
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  align-items: center;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.figure-signup-overtext {
  width: 40%;
  color: var(--color-bright-text);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -1px;
  padding: 0 7% 0;
  text-align: right;
}

.figure-signup-overtext span {
  display: block;
}

.main-signup {
  padding: 2rem 3.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-signup {
  text-align: center;
}

.signup-signup a {
  color: var(--color-point-mint);
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  padding-left: .3rem;
}

.signup-signup a:hover {
  color: var(--color-point-orange);
}

.signup-or {
  text-align: center;
}

.horizontal-line {
  height: 1px;
  background-color: lightgray;
  width: 100%;
}

.signup-or span {
  color: lightgray;
  position: relative;
  font-size: 1.3rem;
  top: -1rem;
  padding: 0 1rem;
  background-color: white;
}

.signup-third-party-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-third-party-list button {
  width: 15rem;
  height: 2.5rem;
  margin: .5rem;
  background-color: white;
  border: .1rem solid var(--color-point-mint);
  border-radius: 5px;
  cursor: pointer;
}

.signup-third-party-list button:hover {
  border-color: var(--color-point-yellow);
}


/* tablet layout from here */
@media (min-width: 640px) {
  .figure-signup-overtext {
    font-size: 2.3rem;
  }
}


/* pc layout from here */
@media (min-width: 1025px) {
  .body-signup {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header header"
      "figure-signup-bg main-signup"
      "figure-signup-bg main-signup"
      "footer footer";
  }
  
  .main-signup {
    min-height: 80vh;
  }

  .figure-signup-bg {
    padding-right: 0;
    background-position: right;
    justify-content: flex-end;
  }

  .figure-signup-overtext {
    font-size: 2.5rem;
    text-align: right;
    padding: 0 7% 0 0;
  }

  .main-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
