.body-signin {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 4.7rem auto auto auto;
  grid-template-areas:
    "header"
    "figure-signin-bg"
    "main-signin"
    "footer";
}

.figure-signin-bg {grid-area: figure-signin-bg;}
.main-signin {grid-area: main-signin;}

.figure-signin-bg {
  background-image: url("../images/cupcake.jpg");
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  align-items: center;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  min-height: 16rem;
  height: 32vh;
}

.figure-signin-overtext {
  width: 40%;
  color: var(--color-bright-text);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -1px;
  padding: 0 7% 0;
  text-align: right;
}

.figure-signin-overtext span {
  display: block;
}

.main-signin {
  padding: 2rem 3.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signin-signup {
  text-align: center;
}

.signin-signup a {
  color: var(--color-point-mint);
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  padding-left: .3rem;
}

.signin-signup a:hover {
  color: var(--color-point-orange);
}

.caution-msg span {
  color: var(--color-point-orange);
  font-size: .9rem;
  width: 100%;
  text-align: center;
  margin-top: .5rem;
}

.signin-or {
  text-align: center;
}

.horizontal-line {
  height: 1px;
  background-color: lightgray;
  width: 100%;
}

.signin-or span {
  color: lightgray;
  position: relative;
  font-size: 1.3rem;
  top: -1rem;
  padding: 0 1rem;
  background-color: var(--color-bg);
}

.signin-third-party-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-third-party-list a {
  width: 15rem;
  height: 2.5rem;
  margin: .5rem;
  /* background-color: var(--color-bg); */
  border: .1rem solid var(--color-point-mint);
  border-radius: 5px;
  cursor: pointer;
}

.signin-third-party-list a:hover {
  border-color: var(--color-point-yellow);
}


/* tablet layout from here */
@media (min-width: 640px) {
  .figure-signin-overtext {
    font-size: 2.3rem;
  }
}


/* pc layout from here */
@media (min-width: 1025px) {
  .body-signin {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header header"
      "figure-signin-bg main-signin"
      "figure-signin-bg main-signin"
      "footer footer";
  }

  .main-signin {
    min-height: 79vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .figure-signin-bg {
    padding-right: 0;
    background-position: right;
    justify-content: flex-end;
    height: auto;
  }

  .figure-signin-overtext {
    font-size: 2.5rem;
    text-align: right;
    padding: 0 7% 0 0;
  }
}
