.body-team {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 4.7rem auto auto auto;
  grid-template-areas:
    "header"
    "main-team-container"
    "sitemap-container"
    "footer";
}

.main-team-container {grid-area: main-team-container;}

.main-team-container {
  min-height: 70vh;
  display: flex;
  justify-content: center;
}

.main-team {
  width: 100%;
  padding: 2rem 2rem 3rem;
}

.team-members {  
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  place-items: start;
}

.team-member img {
  width: 100%;
  border-radius: 50%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.team-member img:hover {
  transform: rotateY(180deg) scaleX(-1);
  filter: brightness(30%);
}




/* tablet layout from here */
@media (min-width: 640px) {
  .main-team {
    max-width: 860px
  }

}


/* pc layout from here */
@media (min-width: 1025px) {
  .main-team {
    max-width: 1170px
  }
  
}
