<!-- CODE SNIPPET INSPIRED BY BRAD TRAVERSY: 
  SOURCE: https://github.com/bradtraversy/node_passport_login/blob/master/views/partials/messages.ejs -->

<!-- THIS IS FOR ANY OTHER ERROR MESSAGES OR SUCCESS MESSAGES OUTSIDE PASSPORT -->

<!-- THIS IS FOR HANDLING ERRORS IN THE CREATE_ACCOUNT PAGE - NOT USING CONNECT-FLASH -->
<% if(typeof errors != 'undefined') { %>
  <% errors.forEach((error) => { %>

    <!-- Please keep this structure with classname -->
    <div class="main-notification-error">
      <span><%= error.msg %></span>
    </div>
    <script src="/src/assets/js/note_error.js" async></script>

  <% }); %>
<% } %>

<!-- THIS IS FOR HANDLING THE SUCCESS IN CREATING AN ACCOUNT - USING CONNECT-FLASH -->

<% if(success_msg != '') { %>
<!-- SHOW MESSAGE IF SUCCESS_MSG IS NOT AN EMPTY STRING -->
  
  <!-- Please keep this structure with classname -->
  <div class="main-notification-success">
    <span><%= success_msg %></span>
  </div>
  <script src="/src/assets/js/note_success.js" async></script>

<% } %>


<!-- THIS IS FOR HANDLING ERROR MESSAGE WITH AUTHENTICATION USING PASSPORT -->

<% if(error != '') { %>
  <!-- SHOW MESSAGE IF SUCCESS_MSG IS NOT AN EMPTY STRING -->

  <!-- Please keep this structure with classname -->
  <div class="main-notification-error">
    <span><%= error %></span>
  </div>
  <script src="/src/assets/js/note_error.js" async></script>

<% } %>

<!-- THIS IS FOR HANDLING SUCCESS MESSAGE WITH AUTHENTICATION USING PASSPORT -->

<% if(success != '') { %>
  <!-- SHOW MESSAGE IF SUCCESS_MSG IS NOT AN EMPTY STRING -->

  <!-- Please keep this structure with classname -->
  <div class="main-notification-success">
    <span><%= success %></span>
  </div>
  <script src="/src/assets/js/note_success.js" async></script>
<% } %>
