<div class="sitemap-container">
  <div class="sitemap">
    <div>
      <span class="footer-header">About</span>
      <div class="footer-horizontal-line"></div>
      <ul class="footer-nav">
        <li><a class="footer-nav-link" href="/netup">Netup</a></li>
        <li><a class="footer-nav-link" href="/team">Our Team</a></li>
      </ul>
    </div>
    
    <div>
      <span class="footer-header">Topics</span>
      <div class="footer-horizontal-line"></div>
      <ul class="footer-nav">
        <li><a class="footer-nav-link" href="/allevents">All</a></li>
        <li><a class="footer-nav-link" href="/comingsoon">Social</a></li>
        <li><a class="footer-nav-link" href="/comingsoon">Health</a></li>
        <li><a class="footer-nav-link" href="/comingsoon">Tech</a></li>
      </ul>
    </div>

    <div>
      <span class="footer-header">Contact</span>
      <div class="footer-horizontal-line"></div>
      <ul class="footer-nav">
        <li><a class="footer-nav-link" href="/comingsoon">FAQ</a></li>
        <li><a class="footer-nav-link" href="/comingsoon">Feedback</a></li>
      </ul>
    </div>

    <div>
      <span class="footer-header">My Account</span>
      <div class="footer-horizontal-line"></div>
      <ul class="footer-nav">
        <li><a class="footer-nav-link" href="/myevents">My Events</a></li>
        <li><a class="footer-nav-link" href="/myfriends">My Friends</a></li>
      </ul>
    </div>
  </div>
</div>

<footer>
  <div class="footer-container">
    <span class="footer-copyrights">&copy;2020 Netup. All Rights Reserved.</span>
  </div>
</footer>

