<div class="sitemap-container">
  <div class="sitemap">

    <!-- ABOUT -->
    <div>
      <span class="footer-header">About</span>
      <div class="footer-horizontal-line"></div>
      <ul class="footer-nav">
        <li><a class="footer-nav-link" href="/netup">Netup</a></li>
        <li><a class="footer-nav-link" href="/team">Our Team</a></li>
      </ul>
    </div>
    
    <!-- EVENTS -->
    <div>
      <span class="footer-header">Events</span>
      <div class="footer-horizontal-line"></div>
      <ul class="footer-nav">
        <li><a class="footer-nav-link" href="/allevents">All</a></li>
        <li><a class="footer-nav-link" href="/allevents/social">Social</a></li>
        <li><a class="footer-nav-link" href="/allevents/health">Health</a></li>
        <li><a class="footer-nav-link" href="/allevents/tech">Tech</a></li>
      </ul>
    </div>

    <!-- CONTACT -->
    <div>
      <span class="footer-header">Contact</span>
      <div class="footer-horizontal-line"></div>
      <ul class="footer-nav">
        <li><a class="footer-nav-link" href="/comingsoon">FAQ</a></li>
        <li><a class="footer-nav-link" href="/contact">Feedback</a></li>
      </ul>
    </div>

    <!-- MY ACCOUNT -->
    <div>
      <span class="footer-header">My Account</span>
      <div class="footer-horizontal-line"></div>
      <ul class="footer-nav">
        <li><a class="footer-nav-link" href="/myevents">My Events</a></li>
        <li><a class="footer-nav-link" href="/comingsoon">My Friends</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- This footer's CSS is different from only footer. Do NOT replace this footer with "partials/sitemap.ejs" -->
<footer>
  <div class="footer-container">
    <span class="footer-copyrights">&copy;2020 Netup. All Rights Reserved.</span>
  </div>
</footer>

