<select
id="all-events-topic-select"
name="all-events-topic-select">

<% if (topic === "all topics" ) { %>
  <option value selected>All Topics</option>
  <option value="social">Social</option>
  <option value="health">Health</option>
  <option value="tech">Tech</option>
<% } else if (topic === "social") { %>
  <option value >All Topics</option>
  <option value="social" selected>Social</option>
  <option value="health">Health</option>
  <option value="tech">Tech</option>
<% } else if (topic === "health") { %>
    <option value >All Topics</option>
    <option value="social">Social</option>
    <option value="health" selected >Health</option>
    <option value="tech">Tech</option>
<% } else if (topic === "tech") { %>
  <option value >All Topics</option>
  <option value="social">Social</option>
  <option value="health">Health</option>
  <option value="tech" selected>Tech</option>
<% } %>
</select>