
<div class="body-team">

  <%- include('../partials/navigation'); %>

  <main class="main-team-container">
    <div class="main-team">
      <span>Our Team</span>

      <div class="team-members">

        <div class="team-member">
          <img src="/src/assets/images/team_pic/team_lily.jpeg">
          <div>
            <a href="/team">Lily</a>
            <p>&emsp;Lily’s love for software development came a bit later than most of her peers; she never thought she would ever become a developer, but now she’s a term1 CST student and loves to code! Her passion is to become a full-stack developer and aims to bridge the gap between technology and business strategies. Lily’s hobbies include sleeping, being organized, and watch ‘How to Train a Dragon’ clips.</p>
          </div>
        </div>

        <div class="team-member">
          <img src="/src/assets/images/team_pic/team_young.png">
          <div>
            <a href="/team">Young</a>
            <p>&emsp;Young is deeply into feature film animations, which leads her to study computer programming, so most of her interests are related to computer graphics. She loves being organized and tidy, and it affects her code style. In addition, her family calls her a racing horse because she easily and highly focuses on something until it is finished or resolved, and likes candy!</p>
          </div>
        </div>

    </div>
  </main>

  
  <%- include('../partials/sitemap'); %>

</div>
