
<div class="body-team">

  <%- include('../partials/navigation'); %>

    <figure>
      <div ></div>
      <span class="team-title">Our Team</span>
    </figure>

  <main class="main-team-container">
    <div class="main-team">
      <div class="team-members">

        <div class="team-member">
          <img src="/src/assets/images/team_pic/team_lily.jpeg">
          <div class="team-member-text">
            
            <p><span>Lily</span> ’s love for software development came a bit later than most of her peers; she never thought she would ever become a developer, but now she’s a term1 CST student and loves to code! Her passion is to become a full-stack developer and aims to bridge the gap between technology and business strategies. Lily’s hobbies include sleeping, being organized, and watch ‘How to Train a Dragon’ clips.</p>
          </div>
        </div>

        <div class="team-member">
          <img src="/src/assets/images/team_pic/team_young.png">
          <div class="team-member-text">
            
            <p><span>Young</span> is deeply into feature film animations, which leads her to study computer programming, so most of her interests are related to computer graphics. She loves being organized and tidy, and it affects her code style. In addition, her family calls her a racing horse because she easily and highly focuses on something until it is finished or resolved, and likes candy!</p>
          </div>
        </div>

        <div class="team-member">
          <img src="/src/assets/images/team_pic/team_james.png">
          <div class="team-member-text">
            
            <p><span>James</span> is in term two of the CST program and loves math and cooking. Born in New York, he has extensive experience in science and research.  His enthusiastic approach to solving problems makes him a great asset to the team.
</p>
          </div>
        </div>

        <div class="team-member">
          <img src="/src/assets/images/team_pic/team_antony.png">
          <div class="team-member-text">
            
            <p><span>Antony</span> is a term 2 CST student. Though not having an impressive background of software, he rarely give up on any technical challenge. In addition, being direct in approaching problems is also one of his habits that might prove useful in the long run.
</p>
          </div>
        </div>

    </div>
  </main>

  
  <%- include('../partials/sitemap'); %>

</div>
