<div class="body-signup">

  <%- include('../partials/navigation'); %>

  <figure class="figure-signup-bg">
    <div class="figure-signup-overtext">
      <span>Join us today and enjoy all the events</span>
    </div>
  </figure>

  <main class="main-signup">
    <div class="signup-signup">
      <span>Already have an account?</span>
      <a href="/login">Sign in</a>
    </div>
    <form class="form-basic" method="post">
      <div class="form-basic-container">
        <label for="signup-fname" class="form-label-basic">First Name:</label>
        <input type="text" id="signup-fname" name="signup-fname" class="form-input-basic" required>
      </div>
      <div class="form-basic-container">
        <label for="signup-lname" class="form-label-basic">Last Name:</label>
        <input type="text" id="signup-lname" name="signup-lname" class="form-input-basic" required>
      </div>
      <div class="form-basic-container">
        <label for="signup-email" class="form-label-basic">Email:</label>
        <input type="email" id="signup-email" name="signup-email" class="form-input-basic" required>
      </div>
      <div class="form-basic-container">
        <label for="signup-pw" class="form-label-basic">Password:</label>
        <input type="password" id="signup-pw" name="signup-pw" class="form-input-basic" required>
      </div>
      <input id="signup-btn" class="yellow-btn" type="submit" value="Sign up">
    </form>
    <div class="signup-or">
      <div class="horizontal-line"></div>
      <span class="">or</span>
    </div>
    <div class="signup-third-party-list">
      <button>Third party sign up option</button>
      <button>Third party sign up option</button>
      <button>Third party sign up option</button>
    </div>

  </main>

  <%- include('../partials/footer'); %>

</div>
