<body>
  
    <%- include('partials/navigation'); %>

    <figure>
      <img id="figure-img" src="/src/assets/images/lego.jpg" alt="Photo by Markus Spiske on Unsplash">
      <div id="figure-text">
        <span>Join a realtime online group meeting,</span>
        <span>have fun with people all around the world.</span>
      </div>
    </figure>

    <%- include ('partials/mainEvents'); %>
  
    <footer>
      <ul class="footer-nav">
        <li>
          <a class="footer-nav-link" href="/">About</a>
        </li>
        <li>
          <a class="footer-nav-link" href="/">Topics</a>
        </li>
        <li>
          <a class="footer-nav-link" href="/">Events</a>
        </li>
        <li>
          <a class="footer-nav-link" href="/">Contact</a>
        </li>
      </ul>

      <div class="footer-info">
        <span class="footer-copyrights">&copy;2020 Netup. All Rights Reserved.</span>
      </div>
    </footer>

  </body>
</html>

