
<div class="body-index">

  <%- include('partials/navigation'); %>

  <figure class="figure-index">
    <img id="figure-index-img" src="/src/assets/images/lego.jpg" alt="Photo by Markus Spiske on Unsplash">
    <div id="figure-index-text">
      <span>Join a realtime online group meeting,</span>
      <span>have fun with people all around the world.</span>
    </div>
  </figure>

  <main class="main-index">
    <%- include('partials/mainEvents'); %>
  </main>

  <footer>
    <ul class="footer-nav">
      <li>
        <a class="footer-nav-link" href="/">About</a>
      </li>
      <li>
        <a class="footer-nav-link" href="/">Topics</a>
      </li>
      <li>
        <a class="footer-nav-link" href="/">Events</a>
      </li>
      <li>
        <a class="footer-nav-link" href="/">Contact</a>
      </li>
    </ul>

    <%- include('partials/footer'); %>
  </footer>

</div>
