
<div class="body-netup">

  <%- include('../partials/navigation'); %>

  <main class="main-netup-container">
    <div class="main-netup">

      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/QCYtkVQqIEQ?&autoplay=1&mute=1&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="about-netup">

        <P><span style="font-size: 2.2rem; color: var(--color-point-mint)">Netup</span> is a platform created to allow anyone to initiate an event for <span class="netup-point-mint">FREE</span> so that anyone can join online from anywhere in the world <span class="netup-point-yellow">without</span> worrying about <span class="netup-point-yellow">language barriers</span>.</P>

        <p>Humans are borned to <span class="netup-point-mint">connect with each other</span>, and with COVID-19, people are robbed of this natural privilege to connect and meet new people. So we created Netup to bridge this gap across the world - <span class="netup-point-yellow">making friends has never been so easy!</span></p>

        <p>What does “without language barriers mean?”  Well, with each event you join, our video event sessions have <span class="netup-point-mint">built in translation services</span> so that you might be speaking in your own language, but the receiver will hear it in their preferred language, all they have to do is to choose their language settings. <span class="netup-point-yellow">You can too!</span></p>

        <p>You will also get <span class="netup-point-mint">events recommended to you</span> based on your interests so that you won’t have to waste your valuable time searching for events. Our fluid and user-friendly design will make your experience at Netup seamless, so <span  class="netup-point-yellow">don’t wait, and sign up today</span> and explore many other features!</p>

      </div>
    </div>
  </main>

  
  <%- include('../partials/sitemap'); %>

</div>
