
<div class="body-team">

  <%- include('../partials/navigation'); %>

  <figure class="figure-team-bg">
    <div class="figure-team-overtext">
      <span>Our Team</span>
    </div>
  </figure>

  <main class="main-team-container">
    <div class="main-team">

      <div class="figure-team-header">
        <span>Our Team</span>
      </div>

      <div class="team-culture">
        <p><span>The Netup</span> team is made up of 4 unique individuals with diverse skill sets and we too are connecting over the internet to make this app happen.</p><p><span>We believe</span> that creativity doesn’t end with Covid-19 and through open communication, collaboration, and support, we can build great things.</p><p>
        <span>Our team values</span> constant, open communication and we push each other to grow in as many ways as possible.  We are firm believers in developing our strengths, and we strive to accomplish the best possible results for our clients.</p>
      </div>

      <div class="team-members">

        <div class="team-member">
          <div class="member-img-container">
            <img src="/src/assets/images/team_pic/team_lily.jpeg">
            <span>Back-end</span>
          </div>
          <div class="team-member-text">
            
            <p><span class="team-member-name">Lily</span> ’s love for software development came a bit later than most of her peers; she never thought she would ever become a developer, but now she’s a term1 CST student and loves to code! Her passion is to become a <span>full-stack developer</span> and aims to <span>bridge the gap between technology and business strategies</span>. Lily’s hobbies include sleeping, being organized, and watch ‘How to Train a Dragon’ clips.</p>
          </div>
        </div>

        <div class="team-member">
          <div class="member-img-container">
            <img src="/src/assets/images/team_pic/team_young.png">
            <span>Front-end</span>
          </div>
          <div class="team-member-text">
            
            <p><span class="team-member-name">Young</span> is deeply into feature film animations, which leads her to study computer programming. Most of her interests are related to <span>computer graphics</span>, especially about <span>human motion and animation</span>. She loves being organized and tidy, and it affects her code style.</p>
          </div>
        </div>

        <div class="team-member">
          <div class="member-img-container">
            <img src="/src/assets/images/team_pic/team_james.png">
            <span>Database</span>
          </div>
          <div class="team-member-text">
            
            <p><span class="team-member-name">James</span> is in term two of the CST program and loves math and cooking. Born in New York, he has extensive experience in <span>science and research</span>.  His enthusiastic approach to <span>solving problems</span> makes him a great asset to the team.
</p>
          </div>
        </div>

        <div class="team-member">
          <div class="member-img-container">
            <img src="/src/assets/images/team_pic/team_antony.png">
            <span>Back-end</span>
          </div>
          <div class="team-member-text">
            
            <p><span class="team-member-name">Antony</span> is a term 2 CST student. Though not having an impressive background of software, he <span>rarely give up</span> on any technical challenge. In addition, <span>being direct in approaching problems</span> is also one of his habits that might prove useful in the long run.
</p>
          </div>
        </div>

    </div>
  </main>

  
  <%- include('../partials/sitemap'); %>

</div>
