
<div class="body-netup">

  <%- include('../partials/navigation'); %>

  <main class="main-netup-container">
    <div class="main-netup">

        <span>Netup</span>

        <P>Humans are borned to connect with each other, and with COVID-19, people are robbed of this natural privilege to connect and meet new people. So we created Netup to bridge this gap across the world - making friends has never been so easy!</P>




    </div>
  </main>

  
  <%- include('../partials/sitemap'); %>

</div>
