<div class="body-details">
  <%- include('../partials/navigation'); %>

  <figure class="figure-details-bg">
    <div class="figure-details-overtext">
      <span><%= events.eventName %></span>
    </div>
  </figure>

  <main class="main-details">
    <div class="figure-details-header">
      <span><%= events.eventName %></span>
    </div>

    <div class="details-container">
      Video will be here
    </div>

  </main>

  <figure class="figure-details-bg-left"></figure>
  <figure class="figure-details-bg-right"></figure>

  <%- include('../partials/sitemap'); %>
</div>

