
<div class="body-index">
  <!-- main top navigation bar -->
  <%- include('../partials/navigation'); %>

  <figure class="figure-index">
    <div class="figure-index-text">
      <span>Join a realtime online group meeting,</span>
      <span>have fun with people all around the world.</span>
    </div>
  </figure>

  <main class="main-index">
    <!-- event cards -->
    <%- include('../partials/events'); %>
  </main>

  
  <!-- footer including sitemap -->
  <%- include('../partials/sitemap'); %>
</div>

<!-- page specific script files -->
<script type='text/javascript' src='https://code.jquery.com/jquery-3.5.0.min.js'></script>
<script src="/src/assets/js/event_controls.js" async></script>

