
<div class="body-index">

  <%- include('../partials/navigation'); %>

  <figure class="figure-index">
    <div class="figure-index-text">
      <span>Join a realtime online group meeting,</span>
      <span>have fun with people all around the world.</span>
    </div>
  </figure>

  <main class="main-index">
    <%- include('../partials/events'); %>
  </main>

  
  <%- include('../partials/sitemap'); %>
</div>
<script type='text/javascript' src='https://code.jquery.com/jquery-3.5.0.min.js'></script>
<script src="/src/assets/js/buttonClick.js"></script>

