<div class="body-signin">

  <%- include('../partials/navigation'); %>

  <figure class="figure-signin-bg">
    <div class="figure-signin-overtext">
      <span>Please sign in to access your events</span>
    </div>
  </figure>

  <main class="main-signin">
    <div class="signin-signup">
      <span>Not signed up yet?</span>
      <a href="/signup">Sign up</a>
    </div>
    
    <form action="/login" method="post" class="form-basic">
      <div class="form-basic-container">
        <label for="email" class="form-label-basic">Email:</label>
        <input type="email" class="form-input-basic" 
        id="email" 
        name="email" required>
      </div>
      <div class="form-basic-container">
        <label for="password" class="form-label-basic">Password:</label>
        <input type="password" class="form-input-basic" 
        id="password" 
        name="password" required>
      </div>

      <input id="signin-btn" class="yellow-btn" type="submit" value="Sign in">
    </form>
    <div class="signin-or">
      <div class="horizontal-line"></div>
      <span class="">or</span>
    </div>
    <div class="signin-third-party-list">
      <button>
        <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
          <i class="fab fa-google"></i>
          Sign In with Google
        </a>
      </button>
      <a href="/auth/facebook"><img src="fb-login.jpg" width="151" height="24"></a>
      <a href="/auth/github"><img src="gh-login-button.png" width="151" height="24"></a>
    </div>
    

  </main>

  <%- include('../partials/footer'); %>

</div>
