<main>
  <% events.forEach(event => { %>
    <div class="video-post">
      <img src="<%= event['image'] %>" alt="Photo by Tyler Nix on Unsplash">
      <div>
        <div>
          <span class="video-post-category"><%= event['eventTopic'] %></span>
          <span class="video-post-title"><%= event['eventName'] %></span>
        </div>
        <span class="video-post-date"><%= event['eventDate'] %></span>
      </div>
    </div>
  <% }) %> 
  
</main>