<div class="sitemap">
  <div>
    <span class="footer-header">About</span>
    <div class="footer-horizontal-line"></div>
    <ul class="footer-nav">
      <li><a class="footer-nav-link" href="/">Netup</a></li>
      <li><a class="footer-nav-link" href="/">Team</a></li>
    </ul>
  </div>
  
  <div>
    <span class="footer-header">Topics</span>
    <div class="footer-horizontal-line"></div>
    <ul class="footer-nav">
      <li><a class="footer-nav-link" href="/">Social</a></li>
      <li><a class="footer-nav-link" href="/">Health</a></li>
      <li><a class="footer-nav-link" href="/">Tech</a></li>
    </ul>
  </div>

  <div>
    <span class="footer-header">Events</span>
    <div class="footer-horizontal-line"></div>
    <ul class="footer-nav">
      <li><a class="footer-nav-link" href="/">My Hosting Events</a></li>
      <li><a class="footer-nav-link" href="/">Joined Events</a></li>
    </ul>
  </div>

  <div>
    <span class="footer-header">Contact</span>
    <div class="footer-horizontal-line"></div>
    <ul class="footer-nav">
      <li><a class="footer-nav-link" href="/">FAQ</a></li>
      <li><a class="footer-nav-link" href="/">Feedback</a></li>
    </ul>
  </div>

</div>
